{% extends "elements/statisticsBox.njk" %}

{% block content %}

    <div class="statistics-cell-contents">
        <h3>Books Read Per Year</h3>
        <canvas id="statisticsBooksReadYearGraph" class="statistics-graph" height="250"></canvas>
    </div>

    <div class="statistics-cell-contents">
        <h3>Pages Read Per Year</h3>
        <canvas id="statisticsPagesReadYearGraph" class="statistics-graph" height="250"></canvas>
    </div>

{% endblock %}
