{% extends "elements/statisticsBox.njk" %}

{% block content %}

    <h3>Books Read per Year</h3>

    <div class="row">
        <div class="col-md-10">
            Graph goes here
        </div>

        <div class="col-md-2">
            <strong>
                Books read in <span class="js-books-read-year">2018</span>:
            </strong>
            <span id="booksReadCount">
                {{ statistics[latestYear].bookCount }}
            </span>
        </div>
    </div>

    <h3>Pages Read per Year</h3>

    <div class="row">
        <div class="col-md-10">
            Graph goes here
        </div>

        <div class="col-md-2">
            Stats here
        </div>
    </div>

{% endblock %}
