<input type="hidden" class="tag-hidden js-tag-hidden js-book-form-field" id="bookCategoriesHidden" value="{{ book.categories }}">

<div class="pre-tag-cluster-wrapper js-pre-tag-cluster-wrapper">
    <select class="form-control full-width" id="bookCategories">
        <option value="-1" disabled selected>Select a Category</option>

        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% else %}
            <option disabled>No categories available</option>
        {% endfor %}
    </select>
</div>


<div class="{% if not book.categoryNames %}hidden{% endif %} tag-cluster js-tag-cluster js-category-cluster" id="categoryCluster">
    {% for deleteId, tag in book.categoryNames %}
        {% set typeClass = 'category' %}
        {% include "src/templates/bookForm/tagCategoryBadge.njk" %}
    {% endfor %}
</div>
