<input type="hidden" id="bookRating" class="js-book-form-field" value="{{ book.rating }}">

<div class="rating-stars" id="ratingStars">
    <span class="{{ book.ratingClasses[0] }} js-rating-star" data-value="1"></span>
    <span class="{{ book.ratingClasses[1] }} js-rating-star" data-value="2"></span>
    <span class="{{ book.ratingClasses[2] }} js-rating-star" data-value="3"></span>
    <span class="{{ book.ratingClasses[3] }} js-rating-star" data-value="4"></span>
    <span class="{{ book.ratingClasses[4] }} js-rating-star" data-value="5"></span>
    <span class="remove-rating js-remove-rating"></span>
</div>

