<div class="rating-stars" id="ratingStars">
    <span class="{{ firstClass }}"></span>
    <span class="{{ secondClass }}"></span>
    <span class="{{ thirdClass }}"></span>
    <span class="{{ fourthClass }}"></span>
    <span class="{{ fifthClass }}"></span>
</div>
