<input type="hidden" id="booksRating">

<div class="rating-stars" id="ratingStars">
    <span class="{{ firstClass }} js-rating-star" data-value="1"></span>
    <span class="{{ secondClass }} js-rating-star" data-value="2"></span>
    <span class="{{ thirdClass }} js-rating-star" data-value="3"></span>
    <span class="{{ fourthClass }} js-rating-star" data-value="4"></span>
    <span class="{{ fifthClass }} js-rating-star" data-value="5"></span>
    <span class="remove-rating js-remove-rating"></span>
</div>

