<span class="tag-badge js-tag-badge">
    <span class="js-tag-text">{{ tag }}</span>&nbsp;<a href="#" class="delete-tag js-delete-tag"><img src="../assets/images/si-glyph-circle-remove.svg"></a>
</span>
