$darkBg: #222222;
$darkFontColor: #e0e0e0;

$sidebarBg: #000000;
$middleColumnBg: lighten($darkBg, 1%);

$listHoverBg: lighten($sidebarBg, 5%);
$listSelectedBg: #063353;

$formBg: lighten($darkBg, 7%);
$formColor: $darkFontColor;
$buttonBg: lighten($darkBg, 7%);
$buttonColor: $darkFontColor;
$buttonHoverBg: darken($buttonBg, 2%);
$buttonActiveBg: darken($buttonBg, 10%);

$toolbarButtonColor: $darkFontColor;
$toolbarIconPlus: '../images/si-glyph-button-plus-dark.svg';

$colorCircleBorderColor: #333333;

$ratingStarsFull: '../images/star-dark.svg';
$ratingStarsEmpty: '../images/star-empty-dark.svg';
$ratingStarsRemove: '../images/si-glyph-trash.svg';
