$mainBg: #222222;
$mainFontColor: #e0e0e0;

$linkColor: #019CEE;
$boxShadowColor: darken($mainBg, 10%);

$sidebarBg: #000000;
$sidebarColor: $mainFontColor;
$middleColumnBg: lighten($mainBg, 1%);

$listHoverBg: lighten($sidebarBg, 5%);
$listSelectedBg: #063353;
$listSelectedDarkBg: $listSelectedBg;
$listBorderColor: darken($mainBg, 3%);

$formBg: lighten($mainBg, 7%);
$formColor: $mainFontColor;
$buttonBg: lighten($mainBg, 7%);
$buttonColor: $mainFontColor;
$buttonHoverBg: darken($buttonBg, 2%);
$buttonActiveBg: darken($buttonBg, 10%);

$toolbarButtonColor: $mainFontColor;
$toolbarIconPlus: '../images/dark/si-glyph-button-plus.svg';
$toolbarIconSidebarPlus: $toolbarIconPlus;

$modalContainerBg: rgba(2, 2, 2, .5);
$modalCloseX: '../images/dark/modal-close-x.svg';

$noBookSelected: '../images/dark/icon-monotone.svg';

$gear: '../images/dark/gear.svg';

$bookcoverListPlaceholder: '../images/dark/bookcover.svg';
$bookListHoverBg: lighten($middleColumnBg, 1%);

$bookcoverUploadArea: $bookcoverListPlaceholder;
$uploadAreaBorderColor: #333333;
$uploadAreaDragoverBg: #333333;

$colorCircleBorderColor: #333333;
$colorCircleLightBorderColor: $colorCircleBorderColor;

$badgeBg: lighten($mainBg, 5%);
$badgeHoverBg: lighten($badgeBg, 2%);
$tagBadgeBg: #610115;
$tagBadgeHoverBg: lighten($tagBadgeBg, 2%);
$tagBadgeColor: $mainFontColor;
$removeBadge: '../images/dark/si-glyph-circle-remove.svg';
$removeBadgeDarkFg: $removeBadge;

$ratingStarsFull: '../images/dark/star.svg';
$ratingStarsEmpty: '../images/dark/star-empty.svg';
$ratingStarsRemove: '../images/si-glyph-trash.svg';
