$darkBg: #222222;
$darkFontColor: #e0e0e0;

$sidebarBg: #000000;
$middleColumnBg: lighten($darkBg, 1%);

$listHoverBg: lighten($sidebarBg, 5%);
$listSelectedBg: #063353;
$listBorderColor: darken($darkBg, 3%);
$bookListHoverBg: lighten($middleColumnBg, 1%);

$formBg: lighten($darkBg, 7%);
$formColor: $darkFontColor;
$buttonBg: lighten($darkBg, 7%);
$buttonColor: $darkFontColor;
$buttonHoverBg: darken($buttonBg, 2%);
$buttonActiveBg: darken($buttonBg, 10%);

$toolbarButtonColor: $darkFontColor;
$toolbarIconPlus: '../images/si-glyph-button-plus-dark.svg';

$noBookSelected: '../images/si-glyph-book-open-dark.svg';

$gear: '../images/gear-dark.svg';

$bookcoverUploadArea: '../images/bookcover-dark.svg';
$uploadAreaBorderColor: #333333;
$uploadAreaDragoverBg: #333333;

$colorCircleBorderColor: #333333;

$badgeBg: lighten($darkBg, 5%);
$badgeHoverBg: lighten($badgeBg, 2%);
$tagBadgeBg: #610115;
$tagBadgeHoverBg: lighten($tagBadgeBg, 2%);
$categoryBadgeBg: #063353;
$categoryBadgeHoverBg: lighten($categoryBadgeBg, 2%);
$removeBadge: '../images/si-glyph-circle-remove-dark.svg';

$ratingStarsFull: '../images/star-dark.svg';
$ratingStarsEmpty: '../images/star-empty-dark.svg';
$ratingStarsRemove: '../images/si-glyph-trash.svg';
