html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    background: $mainBg;
    color: $mainFontColor;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;
    overflow: hidden;
}

a {
    color: $linkColor;
}

.float-left {
    float: left;
}

.clear-fix {
    clear: both;
}

.align-center {
    text-align: center;
}

.hidden {
    display: none;
}

.loading {
    background: url('../images/loader.svg') no-repeat center center;
    background-size: 32px;

    &.inline {
        $size: 15px;
        background-size: $size;
        display: inline-block;
        height: $size;
        margin-right: 5px;
        width: $size;
    }
}


@import "structure";
@import "elements/text";
@import "elements/toolbars";
@import "elements/list";
@import "elements/groups";
@import "elements/forms";
@import "elements/bookForm";
@import "elements/modal";
@import "elements/search";
@import "elements/sort";
