$titleBarHeight: 22px;

.title-bar {
    display: none;
}

.main-structure {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .left-column {
        background-color: $sidebarBg;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        min-width: 200px;
        width: 200px;

        .sidebar {
            flex: 1 1 auto;
            overflow: auto;
            padding-top: 10px;

            .list {
                margin-top: 0;
            }
        }
    }

    .middle-column {
        background-color: $middleColumnBg;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        min-width: 300px;

        .booklist {
            flex: 1 1 auto;
            overflow: auto;
        }
    }

    .right-column {
        $columnPadding: 10px;
        flex: 1 1 auto;
        overflow: auto;
        padding: $titleBarHeight $columnPadding $columnPadding $columnPadding;
    }

    .dragbar {
        cursor: col-resize;
        flex: 0 0 auto;
        width: 2px;
    }
}

.darwin {
    .title-bar {
        display: block;
        height: $titleBarHeight;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        -webkit-app-region: drag;
        -webkit-user-select: none;
        z-index: 1000;
    }

    .main-structure {
        .left-column {
            padding-top: $titleBarHeight;

            .sidebar {
                padding-top: 0;

                .list {
                    margin-top: 15px;
                }
            }
        }

        .middle-column {
            padding-top: $titleBarHeight;
        }
    }
}
