@import "global-variables";
@import "light-variables";
@import "dark-variables";


html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;
    overflow: hidden;

    &.dark-theme {
        background: $darkBg;
        color: $darkFontColor;
    }

    &.light-theme {
        background: $lightBg;
        color: $lightFontColor;
    }
}

.float-left {
    float: left;
}

.hidden {
    display: none;
}

.loading {
    background: url('../images/loader.svg') no-repeat center center;
    background-size: 32px;
}


@import "elements/structure";
@import "elements/text";
@import "elements/toolbars";
@import "elements/list";
@import "elements/groups";
@import "elements/forms";
