<div class="book-list-rating-stars">
    <span class="{{ ratingClasses[0] }}"></span>
    <span class="{{ ratingClasses[1] }}"></span>
    <span class="{{ ratingClasses[2] }}"></span>
    <span class="{{ ratingClasses[3] }}"></span>
    <span class="{{ ratingClasses[4] }}"></span>
</div>
