{% extends "elements/modal.njk" %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <img src="../assets/images/icon.svg" class="icon">
            </div>
            <div class="col-xs-6">
                <div class="padding">
                    <div>
                        <h2>BookJournal</h2>
                        <div class="by">by <a href="#" id="alexSeifertLink">Alex Seifert</a></div>
                    </div>

                    <div class="version-number">
                        {{ appVersion }}
                    </div>

                    <div class="information clear-fix">
                        <div><b>Node Version:</b>{{ nodeVersion }}</div>
                        <div><b>Chromium Version:</b> {{ chrominumVersion }}</div>
                        <div><b>Electron Version:</b> {{ electronVersion }}</div>
                    </div>

                    <div class="legal">
                        Copyright &copy; Alex Seifert 2018. Licensed under the MIT License.
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
