{% extends "elements/modal.njk" %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <h2 class="modal-title">Books by {{ authors }}</h2>
        </div>

        {% for book in books %}
            <div class="row book-row">
                <div class="col-md-2">
                    <div class="bookcover-wrapper">
                        <img src="{{ book.volumeInfo.imageLinks.smallThumbnail }}" class="bookcover">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="book-info">
                        <h3 class="title">{{ book.volumeInfo.title }}</h3>
                        <div class="authors">{{ book.volumeInfo.authors | join(', ') }}</div>
                        <div class="description">{{ book.volumeInfo.description | truncate(200) }}</div>

                        {% if book.isbn %}
                            <div class="isbn">ISBN: {{ book.isbn }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-2 read-status align-right">
                    {% if book.hasBeenRead %}
                        <div class="read">
                            <strong>Read</strong> on {{ book.dateRead }}
                        </div>
                    {% else %}
                        <div class="not-read">
                            <a href="#" class="js-books-by-author-add-book add-book" title="Add book to BookJournal"></a>
                            <a href="#" class="js-books-by-author-add-book amazon-link" title="View book on Amazon"></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="row show-more-results {% if showMoreResults == false %}hidden{% endif %}">
            <div class="col-md-12 align-center">
                <a href="#" id="booksByAuthorShowMoreResults">Show more results</a>
            </div>
        </div>
    </div>

{% endblock %}
