<div class="book-utility-menu" id="bookUtilityMenu"></div>

<h1>Book Details</h1>

<form class="book-form" id="bookForm">

    <input type="hidden" id="bookBookcoverId" value="{{ book.id }}">

    <div class="group">
        <div class="row">
            <div class="col-md-4">
                <div class="bookcover-upload-area" id="bookcoverUploadArea">
                    <div class="instructions">Click here or drag and drop an image<br>to set the bookcover</div>
                    <div class="bookcover" id="bookcoverImage"></div>
                </div>

                <input type="hidden" id="bookBookcoverFileName" class="js-book-form-field" value="{{ book.bookcover }}">
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="bookTitle">Title</label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookTitle" value="{{ book.title }}">
                </div>
                <div class="form-group">
                    <label for="bookAuthor">Author</label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookAuthor" value="{{ book.author }}">
                </div>
                <div class="form-group">
                    <label for="bookGenre">Genre</label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookGenre" value="{{ book.genre }}">
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="bookDateRead">Date Read</label>
                            <input type="date" class="form-control js-book-form-field full-width" id="bookDateRead" value="{{ book.dateRead }}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group not-read-yet">
                            <label for="bookNotReadYet">
                                <input type="checkbox" id="bookNotReadYet" class="js-book-form-field">Not read yet
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="bookNumberOfPages">Page Count</label>
                            <input type="number" class="form-control js-book-form-field full-width" id="bookNumberOfPages" value="{{ book.pageCount }}">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="bookColor">Color</label>
                            <input type="color" id="bookColor" class="hidden js-book-form-color-form js-book-form-field" value="{{ book.color }}">
                            <div class="color-stripe js-book-form-color-stripe" style="background-color: {{ book.color }};"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="group">
        <div class="group-title">Publication Details</div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bookPublisher">Publisher</label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookPublisher" value="{{ book.publisher }}">
                </div>
                <div class="form-group">
                    <label for="bookYearPublished">Year Published</label>
                    <input type="number" class="form-control js-book-form-field full-width" id="bookYearPublished" value="{{ book.yearPublished }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bookIsbn">ISBN</label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookIsbn" value="{{ book.isbn }}">
                </div>
            </div>
        </div>
    </div>

    <div class="group">
        <div class="group-title">Language &amp; Origin</div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bookNationality">Nationality</label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookNationality" value="{{ book.nationality }}">
                </div>
                <div class="form-group">
                    <label for="bookOriginalLanguage">Original Language</label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookOriginalLanguage" value="{{ book.originalLanguage }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bookLanguageReadIn">Language Read In</label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookLanguageReadIn" value="{{ book.languageReadIn }}">
                </div>
                <div class="form-group">
                    <label for="bookTranslator">Translator</label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookTranslator" value="{{ book.translator }}">
                </div>
            </div>
        </div>
    </div>

    <div class="group">
        <div class="group-title">Classification</div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bookTags">Tags</label>
                    {% include "src/templates/bookForm/tags.njk" %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bookCategories">Categories</label>
                    <div id="bookCategoriesWrapper">
                        {% include "src/templates/bookForm/categories.njk" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="group">
        <div class="group-title">Comments &amp; Review</div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="bookRatingStars">Rating</label>
                    <div id="ratingStarsAnchor">
                        {% include "src/templates/bookForm/ratingStars.njk" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="bookSummary">Summary</label>
            <textarea class="form-control js-book-form-field full-width book-textarea" id="bookSummary">{{ book.summary }}</textarea>
        </div>
        <div class="form-group">
            <label for="bookCommentary">Commentary</label>
            <textarea class="form-control js-book-form-field full-width book-textarea" id="bookCommentary">{{ book.commentary }}</textarea>
        </div>
    </div>
</form>
