{% set data = '' %}

{% for field, value in dataFields %}
    {% set data = data + 'data-' + field + '="' + value + '"' %}
{% endfor %}

<li id="{{ id }}" class="{{ classes }}"{{ data | safe }}>
    <div class="list-element-icon">
        <img src="{{ iconPath }}">
    </div>
    <span class="list-element-name">{{ displayName }}</span>
</li>
