<ul class="list js-list">
    {% for element in listElements %}
        {% set id = element.id %}
        {% set classes = element.classes %}
        {% set iconPath = element.iconPath %}
        {% set displayName = element.displayName %}
        {% set color = element.color %}
        {% set type = element.type %}
        {% set dataFields = element.dataFields %}

        {% include "elements/listElement.njk" %}
    {% endfor %}
</ul>
