<h1>Statistics</h1>

<div class="statistics-wrapper">
    <div class="loading statistics-cell js-statistics-hide-no-results" id="statisticsBookPageCountYear"></div>

    <div class="statistics-no-results align-center hidden" id="statisticsNoResults">
        No reading statistics could be calculated. This is probably because you do not have any books with a date read.
    </div>

    <div class="statistics-cell js-statistics-hide-no-results" id="statisticsBookPageCountMonthYear"></div>
</div>
