<div class="search-field-wrapper">
    <div class="search-field-border">
        <input type="search" id="sidebarSearchField" class="search-field" placeholder="Search">
    </div>
</div>

{% include "elements/list.njk" %}
