<div class="book-utility-menu" id="bookUtilityMenu"></div>

<h1>Book Details</h1>

<form class="book-form" id="bookForm">

    <input type="hidden" id="bookBookcoverId" value="{{ book.id }}">

    <div class="group">
        <div class="row">
            <div class="col-md-4">
                {% if book.bookcoverPath %}
                    {% set hasCover = 'has-bookcover' %}
                {% endif %}

                <div class="bookcover-upload-area {{ hasCover }}" id="bookcoverUploadArea">
                    <div class="instructions">Click here or drag and drop an image<br>to set the bookcover</div>
                    <div class="bookcover" id="bookcoverImage" style="background-image: url('{{ book.bookcoverPath }}')"></div>
                </div>

                <input type="hidden" id="bookBookcoverFileName" class="js-book-form-field" value="{{ book.bookcover }}">
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="bookTitle">Title</label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookTitle" value="{{ book.title }}">
                </div>
                <div class="form-group">
                    <label for="bookAuthor">
                        <span class="float-right hidden" id="bookAuthorInfo">
                            <a href="#" id="bookBooksByAuthorLink">See other books by this/these author(s)</a>
                        </span>
                        Author(s)
                    </label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookAuthor" value="{{ book.author }}" placeholder="Enter each author separated by a comma">
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="bookEditor">Editor(s)</label>
                            <input type="text" class="form-control js-book-form-field full-width" id="bookEditor" value="{{ book.editor }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="bookGenre">Genre</label>
                            <input type="text" class="form-control js-book-form-field full-width" id="bookGenre" value="{{ book.genre }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="bookDateStarted">Date Started</label>
                            <input type="text" class="form-control js-book-form-field full-width js-book-form-date-field" id="bookDateStarted" value="{{ book.dateStarted }}">
                        </div>
                        <div class="currently-reading">
                            {% if book.currentlyReading == true %}
                                {% set currentlyReading = 'checked' %}
                            {% endif %}

                            <label for="bookCurrentlyReading">
                                <input type="checkbox" id="bookCurrentlyReading" class="js-book-form-field" {{ currentlyReading }}>Currently Reading
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {% if book.notReadYet == true %}
                                {% set notReadYet = 'disabled' %}
                            {% endif %}

                            <label for="bookDateRead">Date Read</label>
                            <input type="text" class="form-control js-book-form-field full-width js-book-form-date-field" id="bookDateRead" {{ notReadYet }} value="{{ book.dateRead }}">
                        </div>
                        <div class="not-read-yet">
                            {% if book.notReadYet == true %}
                                {% set notReadYet = 'checked' %}
                            {% endif %}

                            <label for="bookNotReadYet">
                                <input type="checkbox" id="bookNotReadYet" class="js-book-form-field" {{ notReadYet }}>Not read yet
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="bookNumberOfPages">Page Count</label>
                            <input type="number" class="form-control js-book-form-field full-width" id="bookNumberOfPages" value="{{ book.pageCount }}">
                        </div>
                        <div class="on-wishlist">
                            {% if book.onWishlist == true %}
                                {% set onWishlist = 'checked' %}
                            {% endif %}

                            <label for="bookOnWishlist">
                                <input type="checkbox" id="bookOnWishlist" class="js-book-form-field" {{ onWishlist }}>On Wishlist
                            </label>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="bookColor">Color</label>
                            <input type="color" id="bookColor" class="hidden js-book-form-color-form js-book-form-field" value="{{ book.color }}">
                            <div class="color-stripe js-book-form-color-stripe" style="background-color: {{ book.color }};"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="group">
        <div class="group-title">Publication Details</div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bookPublisher">Publisher</label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookPublisher" value="{{ book.publisher }}">
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="bookYearPublished">Year Published</label>
                            <input type="number" class="form-control js-book-form-field full-width" id="bookYearPublished" value="{{ book.yearPublished }}">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="bookBookFormat">Book Format</label>
                            <select class="form-control js-book-form-field full-width" id="bookBookFormat">
                                <option value="-1" disabled selected>Select a Book Format</option>

                                {% for value, name in bookFormats %}
                                    <option
                                        value="{{ value }}"
                                        {% if book.bookFormat == value %}selected{% endif %}
                                    >
                                        {{ name }}
                                    </option>
                                {% else %}
                                    <option disabled>No book formats available</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bookIsbn">ISBN</label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookIsbn" value="{{ book.isbn }}">
                </div>
                <div class="form-group fetching-book-info">
                    <div class="hidden" id="bookFetchingBookInfo">
                        <span class="loading inline"></span>
                        Fetching book information...
                    </div>
                    <div class="hidden" id="bookBookInfoFetched">
                        Information for this book has been found on Google Books. <a href="#" id="bookFillOutBookInfo">Automatically fill out the form</a><br><br>
                        <strong>Warning!</strong> This will override any previous entries!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="group">
        <div class="group-title">Language &amp; Origin</div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bookNationality">Nationality</label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookNationality" value="{{ book.nationality }}">
                </div>
                <div class="form-group">
                    <label for="bookOriginalLanguage">Original Language</label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookOriginalLanguage" value="{{ book.originalLanguage }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bookLanguageReadIn">Language Read In</label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookLanguageReadIn" value="{{ book.languageReadIn }}">
                </div>
                <div class="form-group">
                    <label for="bookTranslator">Translator</label>
                    <input type="text" class="form-control js-book-form-field full-width" id="bookTranslator" value="{{ book.translator }}">
                </div>
            </div>
        </div>
    </div>

    <div class="group">
        <div class="group-title">Classification</div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bookTags">Tags</label>
                    {% include "elements/bookForm/tags.njk" %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bookCategories">Categories</label>
                    <div id="bookCategoriesWrapper">
                        {% include "elements/bookForm/categories.njk" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="group">
        <div class="group-title">Comments &amp; Review</div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="bookRatingStars">Rating</label>
                    <div id="ratingStarsAnchor">
                        {% include "elements/bookForm/ratingStars.njk" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="bookSummary">Summary</label>
            <textarea class="form-control js-book-form-field full-width book-textarea" id="bookSummary">{{ book.summary }}</textarea>
        </div>
        <div class="form-group">
            <label for="bookCommentary">Commentary</label>
            <textarea class="form-control js-book-form-field full-width book-textarea" id="bookCommentary">{{ book.commentary }}</textarea>
        </div>
        <div class="form-group">
            <label for="bookNotes">Notes</label>
            <textarea class="form-control js-book-form-field full-width book-textarea" id="bookNotes">{{ book.notes }}</textarea>
        </div>
    </div>
</form>
