{% set data = '' %}

{% for field, value in dataFields %}
    {% set data = data + 'data-' + field + '="' + value + '"' %}
{% endfor %}

<li id="{{ id }}" class="{{ classes }}"{{ data | safe }}>
    {% if type != 'title' %}
        <div class="list-element-icon">
            <img src="{{ iconPath }}">
        </div>
    {% endif %}

    <span class="list-element-name">{{ displayName }}</span>
</li>
