{% set data = '' %}

{% for field, value in dataFields %}
    {% set data = data + 'data-' + field + '="' + value + '"' %}
{% endfor %}

<li data-id="{{ id }}" class="{{ classes }}"{{ data | safe }}>
    {% if type != 'title' and type != 'category' %}
        <div class="list-element-icon">
            <img src="{{ iconPath }}">
        </div>
    {% endif %}

    {% if type == 'category' %}
        <div class="list-element-color-wrapper">
            <input type="color" value="{{ color }}" class="hidden js-list-element-color-form">
            <div class="list-element-color js-list-element-color" style="background-color: {{ color }};"></div>
        </div>
    {% endif %}

    <span class="list-element-name js-list-element-name">{{ displayName }}</span>
</li>
