<h1>Statistics</h1>

<div class="statistics-wrapper container-fluid">
    <div class="row">
        <div class="col-md-6 loading statistics-cell" id="statisticsBooksReadMonth"></div>
        <div class="col-md-6 loading statistics-cell" id="statisticsBooksReadYear"></div>
    </div>
    <div class="row">
        <div class="col-md-6 loading statistics-cell" id="statisticsPageCountMonth"></div>
        <div class="col-md-6 loading statistics-cell" id="statisticsPageCountYear"></div>
    </div>
</div>
