<h1>Statistics</h1>

<div class="statistics-wrapper">
    <div class="loading statistics-cell" id="statisticsBookPageCountYear"></div>
    <div class="statistics-cell" id="statisticsBookPageCountMonthYear"></div>
</div>
