{% extends "statisticsBox.njk" %}

{% block content %}

    <div class="statistics-cell-contents">
        <div class="statistics-change-upper-right">
            View statistics for
            <select class="form-control" id="statisticsChangeMonthYear">
                {% for year, months in allDatesRead %}
                    {% if year == latestYear %}
                        <option selected>{{ year }}</option>
                    {% else %}
                        <option>{{ year }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <h3>Books Read Per Month For {{ latestYear }}</h3>

        <div class="row clear-fix">
            <div class="col-md-8">
                <canvas id="statisticsBooksReadMonthYearGraph" class="statistics-graph" height="250"></canvas>
            </div>
            <div class="col-md-4">
                <canvas id="statisticsBooksReadMonthYearDoughnutGraph" class="statistics-graph" height="250"></canvas>
            </div>
        </div>
    </div>

    <div class="statistics-cell-contents">
        <h3>Pages Read Per Month For {{ latestYear }}</h3>

        <div class="row">
            <div class="col-md-8">
                <canvas id="statisticsPagesReadMonthYearGraph" class="statistics-graph" height="250"></canvas>
            </div>
            <div class="col-md-4">
                <canvas id="statisticsPagesReadMonthYearDoughnutGraph" class="statistics-graph" height="250"></canvas>
            </div>
        </div>
    </div>

{% endblock %}
