{% set data = '' %}

{% for field, value in dataFields %}
    {% set data = data + 'data-' + field + '="' + value + '"' %}
{% endfor %}

<li data-id="{{ book.id }}" class="{{ book.classes }}"{{ data | safe }}>
    <div class="list-element-color" style="background-color: {{ book.color }};"></div>

    <div class="content-wrapper">
        {% if book.bookcoverPath %}
            <div class="list-element-bookcover" style="background-image: url('{{ book.bookcoverPath }}');"></div>
        {% else %}
            <div class="list-element-bookcover no-cover"></div>
        {% endif %}

        <div class="list-element-book-info">
            <div class="list-element-name">{{ book.title }}</div>
            <div class="list-element-subtitle">{{ book.subtitle | safe }}</div>
        </div>
    </div>
</li>
