.book-list {
  margin-top: 0;

  .list-element {
    display: flex;
    flex-direction: row;
    padding: 0 !important;
    height: 70px;
    margin: 3px 0 !important;
    background-color: $bookListBg !important;

    &:first-child {
      border-top: 1px solid $listBorderColor;
    }

    &:hover {
      background-color: $bookListHoverBg !important;
    }

    &:active {
      background: $bookListActiveBg !important;
    }

    &.selected {
      background: $listSelectedBg !important;
    }

    &,
    & > * {
      white-space: nowrap;
      overflow: hidden;
    }

    .list-element-color {
      display: flex;
      flex: 0 0 auto;
      height: 100%;
      margin-right: 7px;
      width: 5px;
    }

    .content-wrapper {
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      height: 100%;
      padding: 10px 5px;

      .list-element-bookcover {
        background-size: cover;
        display: flex;
        flex: 0 0 auto;
        height: 100%;
        margin-right: 12px;
        width: 50px;

        &.no-cover {
          background-image: url($bookcoverListPlaceholder);
          opacity: 0.2;
        }
      }

      .list-element-book-info {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        font-size: 0.9em;

        div {
          display: flex;
          flex: 0 0 auto;
        }

        .list-element-name {
          font-weight: bold;
          margin-bottom: 5px;
        }

        .list-element-subtitle {
          font-size: 0.8em;

          .book-list-rating-stars {
            $starSize: 14px;
            height: $starSize;

            span {
              background-repeat: no-repeat;
              background-size: 100%;
              background-position: center center;
              cursor: pointer;
              display: inline-block;
              height: $starSize;
              width: $starSize;

              &.full {
                background-image: url($ratingStarsFull);
              }

              &.empty {
                background-image: url($ratingStarsEmpty);
              }
            }
          }
        }
      }
    }
  }
}
