.book-form {
    .color-stripe {
        $size: 30px;
        border: 1px solid $colorCircleBorderColor;
        border-radius: 50%;
        cursor: pointer;
        height: $size;
        width: $size;
    }

    .rating-stars {
        $starSize: 24px;

        height: $starSize;

        span {
            background-repeat: no-repeat;
            background-position: center center;
            display: inline-block;
            height: $starSize;
            width: $starSize;

            &.full {
                background-image: url($ratingStarsFull);
            }

            &.empty {
                background-image: url($ratingStarsEmpty);
            }
        }
    }
}
