.round-button {
  position: relative;
  opacity: 0.8;
  padding: 0.4em;
  cursor: pointer;

  &::before {
    content: '';
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    $position: -6px;
    top: $position;
    right: $position;
    bottom: $position;
    left: $position;
    transform: scale(0);
    transition: transform 100ms;
  }

  &:hover {
    opacity: 1;

    &::before {
      background: $buttonBgHover;
      transform: scale(1);
    }
  }

  &:active {
    opacity: 1;

    &::before {
      background: $buttonBgActive;
      transform: scale(1);
    }
  }
}

.rounded-button {
  position: relative;
  opacity: 0.8;
  padding: 0.4em;
  cursor: pointer;
  z-index: 0;

  &::before {
    content: '';
    border-radius: 5px;
    z-index: -1;
    position: absolute;
    top: -1px;
    right: -2px;
    bottom: -1px;
    left: -2px;
    transform: scale(0);
    transition: transform 100ms;
  }

  &:hover {
    opacity: 1;

    &::before {
      background: $buttonBgHover;
      transform: scale(1);
    }
  }

  &:active {
    opacity: 1;

    &::before {
      background: $buttonBgActive;
      transform: scale(1);
    }
  }

  &.sidebar-button {
    &:hover {
      opacity: 1;

      &::before {
        background: $sidebarButtonBgHover;
        transform: scale(1);
      }
    }

    &:active {
      opacity: 1;

      &::before {
        background: $sidebarButtonBgActive;
        transform: scale(1);
      }
    }
  }
}
