.form-group {
    margin-bottom: 20px;

    label {
        display: block;
        font-size: .8em;
        margin-bottom: 10px;
        opacity: .7;
        -webkit-user-select: none;
    }
}

.form-control {
    background: $formBg;
    border: none;
    color: $formColor;
    font-size: 1em;
    padding: 8px;

    &.full-width {
        width: 100%;
    }

    &.book-textarea {
        min-height: 200px;
    }
}

.button {
    background-color: $buttonBg;
    border: none;
    border-radius: 5px;
    color: $buttonColor;
    font-size: 1em;
    padding: 5px 10px;

    &:hover {
        background-color: $buttonHoverBg;
    }

    &:active {
        background-color: $buttonActiveBg;
    }

    &:disabled {
        opacity: 0.5;
    }
}
