.form-group {
  margin-bottom: 20px;

  label {
    display: block;
    font-size: 0.8em;
    margin-bottom: 10px;
    opacity: 0.7;
    -webkit-user-select: none;
  }
}

.form-control {
  background: $formBg;
  border: none;
  color: $formColor;
  font-size: 1em;
  padding: 8px;

  &[type="date"] {
    padding: 5px;
  }

  &:disabled {
    opacity: 0.5;
  }

  &.full-width {
    width: 100%;
  }

  &.book-textarea {
    min-height: 200px;
  }
}

.button {
  background-color: $buttonBg;
  border: none;
  border-radius: 5px;
  color: $buttonColor;
  font-size: 1em;
  padding: 5px 10px;

  &:hover {
    background-color: $buttonHoverBg;
  }

  &:active {
    background-color: $buttonActiveBg;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.selection-bar {
  display: flex;
  flex-direction: row;

  .selector {
    background-color: $buttonBg;
    border-color: $selectionBarSelectorBorderColor;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    color: $buttonColor;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    padding: 5px 10px;
    text-align: center;

    $borderRadius: 5px;

    &:first-of-type {
      border-bottom-left-radius: $borderRadius;
      border-left: 1px solid $selectionBarSelectorBorderColor;
      border-top-left-radius: $borderRadius;
    }

    &:last-of-type {
      border-bottom-right-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
    }

    &:hover {
      background-color: $buttonHoverBg;
    }

    &:active {
      background-color: $buttonActiveBg;
    }

    &.selected {
      background-color: $buttonSelectedBg;
    }
  }

  &.full-width {
    width: 100%;
  }
}
