.group {
    margin-bottom: 50px;

    .group-title {
        background: $mainBg;
        display: inline-block;
        font-size: .8em;
        margin-bottom: 30px;
        padding-right: 5px;
        text-transform: uppercase;
        -webkit-user-select: none;
    }
}
