.group {
  border-top: 1px solid $bookFormGroupBorderColor;
  margin-bottom: 50px;
  padding-top: 35px;

  &:first-of-type {
    border-top: none;
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 50px;
  }

  .group-title {
    background: $mainBg;
    display: inline-block;
    font-size: 0.9em;
    margin-bottom: 35px;
    padding-right: 5px;
    text-transform: uppercase;
    -webkit-user-select: none;
  }
}
