.list-container {
    overflow: auto;

    .list {
        padding: 0;

        .list-element {
            clear: both;
            cursor: pointer;
            font-size: .9em;
            list-style: none;
            padding: 8px 10px;

            &:hover {
                background: $listHoverBg;
            }

            &.selected {
                background: $listSelectedBg;
            }

            .list-element-icon {
                display: inline-block;
                margin-right: 3px;
                width: 16px;

                img {
                    vertical-align: text-bottom;
                    width: 100%;
                }
            }
        }

        .list-element-title {
            font-size: .7em;
            margin-bottom: 15px;
            margin-top: 20px;
            opacity: .7;
            padding-left: 10px;
            text-transform: uppercase;
        }
    }
}
