@import "modal/about";
@import "modal/preferences";
@import "modal/booksByAuthor";

.modal-container {
    background: $modalContainerBg;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    .modal {
        background: $mainBg;
        border-radius: 2px;
        box-shadow: 0 0 25px $boxShadowColor;
        left: 50%;
        max-height: 90%;
        overflow: auto;
        padding: 25px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;

        .modal-title {
            margin-top: 0;
        }

        .modal-close {
            $size: 15px;

            background: url($modalCloseX) no-repeat center;
            background-size: $size;
            cursor: pointer;
            height: $size;
            position: absolute;
            right: 10px;
            top: 10px;
            width: $size;
        }

        .modal-header {
            border-bottom: 1px solid $modalHeaderBorderColor;
            display: block;
            margin-bottom: 25px;
            padding-bottom: 5px;
            width: 100%;
        }
    }
}
