.search-field-wrapper {
    margin-top: 8px;
    padding: 10px;

    .search-field-border {
        $borderRadius: 5px;

        background: url($searchFormBackgroundImage) no-repeat 5px center;
        border: 1px solid $searchFormBorderColor;
        border-radius: $borderRadius;
        padding-left: 30px;

        .search-field {
            background: $searchFormBg;
            border: none;
            border-radius: $borderRadius;
            color: $searchFormColor;
            font-size: 1em;
            padding: 5px 8px;
            width: 100%;

            &:hover {
                background: $searchFormHoverBg;
            }

            &:focus {
                background: $searchFormFocusBg;
            }
        }
    }
}
