.statistics-wrapper {
    .statistics-cell {
        min-height: 300px;

        .statistics-cell-contents {
            margin-bottom: 50px;

            .statistics-graph {
                width: 100%;
            }
        }
    }
}
