$titleBarHeight: 22px;

.title-bar {
    height: $titleBarHeight;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    z-index: 1000;
}

.main-structure {
    align-items: stretch;
    display: flex;
    min-height: 100%;
    width: 100%;

    .sidebar {
        background-color: $sidebarBg;
        min-width: 200px;
        padding-top: $titleBarHeight;
    }

    .middle-column {
        background-color: $middleColumnBg;
        min-width: 300px;
        padding-top: $titleBarHeight;
    }

    .right-column {
        $columnPadding: 10px;

        overflow: auto;
        padding: $titleBarHeight $columnPadding $columnPadding $columnPadding;
    }
}
