$titleBarHeight: 38px;

.title-bar {
    height: $titleBarHeight;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    z-index: 1000;
}

.main-structure {
    align-items: stretch;
    display: flex;
    min-height: 100%;
    width: 100%;

    .column {
        padding: $titleBarHeight 10px 10px 10px;
    }

    .sidebar {
        background-color: $sidebarBg;
        min-width: 150px;
    }

    .middle-column {

    }

    .right-column {

    }
}
