{% extends "modal.njk" %}

{% block body %}

    <h2 class="modal-title">Books by {{ authors }}</h2>

    <div class="modal-scroll">
        <div id="booksByAuthorBookListAnchor">
            {{ bookList | safe }}
        </div>

        <div class="show-more-results align-center {% if showMoreResults == false %}hidden{% endif %}" id="booksByAuthorShowMoreResultsWrapper">
            <div class="loading inline invisible float-right" id="booksByAuthorShowMoreResultsLoader"></div>
            <a href="#" id="booksByAuthorShowMoreResults">Show more results</a>
        </div>
    </div>

{% endblock %}
