{% extends "elements/modal.njk" %}

{% block body %}

    {% set lightThemeSelected = '' %}
    {% set darkThemeSelected = '' %}

    {% if preferences.theme == 'light' %}
        {% set lightThemeSelected = ' selected' %}
    {% else %}
        {% set darkThemeSelected = ' selected' %}
    {% endif %}

    <h2 class="modal-title">Preferences</h2>

    <div class="modal-scroll">
        <div class="container-fluid">
            <div class="row preferences-section">
                <h3 class="modal-header">Theme</h3>

                <div class="col-sm-6 align-center">
                    <div class="preferences-theme js-preferences-theme" data-theme="light">
                        <div class="theme-image js-preferences-theme-image light{{ lightThemeSelected }}">
                            <div class="gradient"></div>
                        </div>
                        Light
                    </div>
                </div>
                <div class="col-sm-6 align-center">
                    <div class="preferences-theme js-preferences-theme" data-theme="dark">
                        <div class="theme-image js-preferences-theme-image dark{{ darkThemeSelected }}">
                            <div class="gradient"></div>
                        </div>
                        Dark
                    </div>
                </div>
            </div>

            <div class="row preferences-section">
                <h3 class="modal-header">Book Information</h3>

                <div class="preferences-subsection">
                    <label for="preferencesFetchBookInformation">
                        <input type="checkbox" id="preferencesFetchBookInformation" {% if preferences.fetchBookInfoFromGoogle %}checked{% endif %}> Automatically fetch book information automatically after entering the ISBN
                    </label>
                    <div class="preferences-note">This option will send the ISBN number of your book to Google to retrieve the information.</div>
                </div>

                <div class="preferences-subsection">
                    <label for="preferencesFetchBooksByAuthor">
                        <input type="checkbox" id="preferencesFetchBooksByAuthor" {% if preferences.fetchBooksByAuthor %}checked{% endif %}> Automatically fetch other books by the given author(s)
                    </label>
                    <div class="preferences-note">This option will send the author(s) of your book to Google to retrieve the information.</div>
                </div>

                <div>
                    Language to fetch books in:
                    <select id="preferencesFetchBooksByAuthorLanguage" class="form-control">
                        {% for code in allLanguageCodes %}
                            <option value="{{ code }}" {% if preferences.fetchBooksByAuthorLanguage == code %}selected{% endif %}>{{ code | getLanguageName }} ({{ code | getLanguageNativeName }})</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row preferences-section">
                <h3 class="modal-header">Updates</h3>
                <label for="preferencesCheckForUpdates">
                    <input type="checkbox" id="preferencesCheckForUpdates" {% if preferences.checkForUpdates %}checked{% endif %}> Automatically check for updates
                </label>
            </div>
        </div>
    </div>

{% endblock %}
